# Python Data types

In [1]:
x = "Hello Hyderabad"

In [2]:
x

'Hello Hyderabad'

In [3]:
x = 50

In [4]:
x

50

In [5]:
x = 60.5

In [6]:
y = ['My Name is Mugees Ahmad', 'I am a Business Owner']
y

['My Name is Mugees Ahmad', 'I am a Business Owner']

In [7]:
type(y)

list

# type() fuction is used to check type of data

In [11]:
type(x)

float

In [13]:
k =range(10)

In [14]:
k

range(0, 10)

In [15]:
type(k)

range

In [16]:
s1 = {"Name": 'Shankar Sharma', "Age": 26}
s1

{'Name': 'Shankar Sharma', 'Age': 26}

In [17]:
type(s1)

dict

In [18]:
s = [6, 9, 8]

In [19]:
s

[6, 9, 8]

In [20]:
type(s)

list

In [21]:
t1 = [65, 'Mugees', 1063]
t1

[65, 'Mugees', 1063]

In [22]:
type(t1)

list

In [29]:
f = frozenset({"India", "Pakistan", "America", "Uganda", "India"})

In [30]:
f

frozenset({'America', 'India', 'Pakistan', 'Uganda'})

In [31]:
type(f)

frozenset

In [26]:
f1 = {36, 14, 12, 9, 19, 9}

In [27]:
f1

{9, 12, 14, 19, 36}

In [28]:
type(f1)

set

# Numeric Data Type

Data that has a numeric value, It can be integer, floating oe even complex.

In [53]:
#Example of integer Data types

age = 36
print(age)

type(age) #Type() fuction is used to check type of data 

#these value is defined in python int class in Python

36

int

In, python there is no limit how long an integer value can be

In [54]:
#Example of floating data types

x = 6
y = 3

z = (x/y)

print(z)

type(z)

#these value is defined in python float class in Python 


print(z, type(z))

2.0
2.0 <class 'float'>

In [55]:
#Example of floating data types

x = 3.0
y = 3

z1 = (x/y)

print(z1, type(z1))

1.0 <class 'float'>

In [56]:
#Example of floating data types

m = 6
n = 6.0

p = m*n
print(p, type(m))

36.0 <class 'int'>

In [61]:
#Example of complex data types

y = 2 + 4j
print(y)

type(y)

(2+4j)

complex

# Sequence Data Type

It is a collection of similar or different data types is in organized way.
> String | tuple |list

# String

It is an arrray of bytes.
>It is collection of one or more characters, puts in sigle, doubble or even triple quotes.

In [63]:
#Example

c = "Hyderabad"
print(c, type(c))

Hyderabad <class 'str'>

# Accessing of string elements

Indexing is used to access the character of strings.
> Negative indexing is used to access elements from back
<< M U G E E S >> -6 -5 -4 -3 -2 -1

In [83]:
# Example Accessing of string elemnts

s = "MUGEES"
print(s)

#Positive Access

print(s[5])  #indexing start from first character with 0

#Negative Access
print(s[-1])

print(s[-2])

type(s)

MUGEES
S
S
E

str

## List

In [85]:
list = []   # blank list
print(list)

[]

In [90]:
list = ["MUGEES AHMAD"]
print(list)
type(list)

['MUGEES AHMAD']

list

In [94]:
#Example

menu = ['pizza', 'burger', 'pasta', 'noodle']
print(menu, type(menu))

['pizza', 'burger', 'pasta', 'noodle'] <class 'list'>

In [95]:
#Example
item = [['dal', 'paneer', 'mix veg'], ['Butter chicken', 'Mutton karahi', 'Paya', 'Haleem']]
print(item, type(item))

[['dal', 'paneer', 'mix veg'], ['Butter chicken', 'Mutton karahi', 'Paya', 'Haleem']] <class 'list'>

In [96]:
#Accessing list item
print(menu[-1])

noodle

In [97]:
len(menu)

4

In [98]:
len(item)

2

In [102]:
print(item[0][1])
print(item[1][-2])

paneer
Paya

In [115]:
# Aceessing of list item

m = [['dal', 'mix veg', 'paneer'], ['chicken', 'mutton', 'haleem', 'paya'], ['rice', 'roti']]
print(m)  #print the list

len(m) #length of list

print(m[0])
print(m[1])
print(m[2])

print(m[0][1])

print(m[1][2])

print(m[2][0])

[['dal', 'mix veg', 'paneer'], ['chicken', 'mutton', 'haleem', 'paya'], ['rice', 'roti']]
['dal', 'mix veg', 'paneer']
['chicken', 'mutton', 'haleem', 'paya']
['rice', 'roti']
mix veg
haleem
rice

# Tuple

It is similar to list data type but only diference is it is immutable, once its created can't be change. 
> Placing the value by seprated the comma with or without paranthesis.

In [120]:
#Example
t1 = ()
print(t1, type(t1))

() <class 'tuple'>

In [122]:
t1 = 'Mugees', 'Ahmad'
print(t1, type(t1))

('Mugees', 'Ahmad') <class 'tuple'>

In [125]:
l1 = [1, 2, 3, 4, 5]
print(tuple(l1), type(l1))

(1, 2, 3, 4, 5) <class 'list'>

In [126]:
t2 = tuple('Hyderabad')
print(t2, type(t2))

('H', 'y', 'd', 'e', 'r', 'a', 'b', 'a', 'd') <class 'tuple'>

In [127]:
## Access tuple elements

t3 =('India', 'Pakistan', 'Nepal', 'China')
print(t3)

('India', 'Pakistan', 'Nepal', 'China')

In [128]:
print(t3[-2])

Nepal

Tuple Packing 
> tuple created without parenthesis

In [129]:
# Example of Tuple Packing

a = 65
b = 36.8
c = "Hyderabad"
d = True

t = a, b, c, d

print(t, type(t))

(65, 36.8, 'Hyderabad', True) <class 'tuple'>

In [130]:
# Unpacking of Tuple

t = (65, 36.8, "Hyderabad", True)

a, b, c, d = t
print(a, type(a))

65 <class 'int'>

In [131]:
print(b, type(b))

36.8 <class 'float'>

In [132]:
print(c, type(c))

Hyderabad <class 'str'>

In [134]:
print(d, type(d))

True <class 'bool'>

# Boolean Data Type

In [135]:
print(True)

True

In [136]:
y = False
print(y, type(y))

False <class 'bool'>

In [139]:
print(type(True))

<class 'bool'>

# Set Data Type

In [140]:
s1 = set()

In [142]:
print(s1, type(s1))

set() <class 'set'>

In [144]:
s1 = set("Alhamdulliah")
print(s1)

{'A', 'u', 'd', 'm', 'a', 'h', 'l', 'i'}

In [145]:
s2 = set("Mugees")
print(s2)

{'u', 'e', 'g', 'M', 's'}

In [148]:
s3 = set(['Touheed', 'Namaz', 'Zakat', 'Roza', 'Hajj', 'Namaz'])
print(s3, type(s3))

{'Touheed', 'Roza', 'Namaz', 'Hajj', 'Zakat'} <class 'set'>

In [149]:
s4 = set([3, 6, 'Mugees', 'Imtiyaz', 6, 12])
print(s4)

{3, 6, 'Mugees', 12, 'Imtiyaz'}

Access set Item
> It can't be access by referening of index due to it's element is unordered.

In [159]:
#Example

s1 = set(['Hyderabad', 'Telangana', 'Hyderabad'])

print(s1)

{'Hyderabad', 'Telangana'}

In [160]:
for i in s1:
    print(i, end=" ")
print('Hyderabad' in s1)

Hyderabad Telangana True

# Dictinory

In [161]:
d = {}
print(d, type(d))

{} <class 'dict'>

In [163]:
d1 = {1: 'India', 2: 'Japan', 3: 'Australia', 4: 'Srilanka', 5: 'Malysia'}
print(d1)

{1: 'India', 2: 'Japan', 3: 'Australia', 4: 'Srilanka', 5: 'Malysia'}

In [173]:
d2 = {'Name': 'Mugees', 2:[1,2, 3]}
print(d2)

{'Name': 'Mugees', 2: [1, 2, 3]}

In [174]:
len(d2)

2

In [175]:
type(d2)

dict

In [176]:
d3 = dict({1: 'Male', 2: 'Female', 3: 'Transgender', 4: 'Others'})
print(d3)

{1: 'Male', 2: 'Female', 3: 'Transgender', 4: 'Others'}

In [177]:
#Accessing the item from dictonary

print(d3[3])

Transgender

In [179]:
#using get()
print(d2.get('Name'))

Mugees

In [200]:
#Assignment1

l1 = ['Orange', 'Grapes', 'Guava'] # list l1 is created

l1

# Adding one element (banana) into list1 

l1.append('banana')  # append() is use for adding an element onto list

print(l1)

# Removing one element (Orange) from the list l1

l1.remove('Orange')  #remove() is used for the removing an item from list
l1

['Orange', 'Grapes', 'Guava', 'banana']

['Grapes', 'Guava', 'banana']

In [201]:
#Assignment2

cord = (3, 5)  #create a tuple having 2 value 
print(cord)

print("x-coordinate:", cord[0])
print("y-coordinate:", cord[1])

(3, 5)
x-coordinate: 3
y-coordinate: 5

In [202]:
#Frozenset

v = {'a', 'e', 'i', 'o', 'u'}
fset = frozenset(v)
print(fset)

frozenset({'e', 'u', 'o', 'a', 'i'})

In [203]:
print(type(fset))

<class 'frozenset'>

In [204]:
print(type(v))

<class 'set'>